* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --primary-color: #01161e;
  --secondary-color: #124559;
  --tertiary-color: #598392;
  --color-font1: white;
  --color-font2: black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #aec3b0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 5px 5px var(--secondary-color);
}

.tela {
  width: 100%;
}

.memory {
  margin: 0;
  height: 40px;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: var(--secondary-color);
  font-size: 20px;
  text-align: end;
  padding: 5px;
}

.result {
  padding: 5px;
  text-align: end;
  height: 50px;
  background-color: var(--secondary-color);
  margin: 0;
  font-size: 30px;
  color: rgb(255, 255, 255);

}

.btn {
  width: 24%;
  font-size: 20px;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 10px;
  border: none;

}

.btn-primary {
  background-color: var(--tertiary-color);
  color: var(--color-font1);
  font-size: 25px;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.btn-secondary:hover {
  cursor: pointer;
  background-color: var(--tertiary-color);
}

.btn-secondary {
  color: var(--color-font1);
  background-color: var(--secondary-color);
}


.botoes {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  width: 100%;
  justify-content: space-between;

}