* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(180, 231, 255);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: rgb(8, 104, 194);
  border-radius: 10px;
  box-shadow: 5px 5px;
}

.tela {
  width: 100%;
}

.memory {
  margin: 0;
  height: 40px;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(2, 32, 95);
  font-size: 20px;
  text-align: end;
  padding: 5px;
}

.result {
  padding: 5px;
  text-align: end;
  height: 50px;
  background-color: rgb(2, 32, 95);
  color: rgb(0, 31, 58);
  margin: 0;
  font-size: 30px;
  color: rgb(255, 255, 255);

}

.btn {
  width: 24%;
  font-size: 20px;
  margin-bottom: 4px;
  border: none;

}

.btn-primary {
  background-color: rgb(18, 42, 114);
  font-size: 25px;
}

.btn-secondary {
  background-color: rgb(0, 20, 77);
}


.botoes {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  width: 100%;
  justify-content: space-between;

}